<div class="container my-4">
  <h2 class="text-center">Próximos Voos nas Próximas 48 Horas</h2>
  <table class="table table-striped table-hover mt-4">
    <thead class="table-dark">
      <tr>
        <th>Data/Hora</th>
        <th>Aeroporto Origem</th>
        <th>Aeroporto Destino</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let voo of voos">
        <td>{{ voo.dataHora | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ voo.origem }}</td>
        <td>{{ voo.destino }}</td>
        <td>
          <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#confirmarEmbarqueModal"
            (click)="abrirModal(voo.codigo)">
            Confirmar Embarque
          </button>
          <button class="btn btn-danger btn-sm mx-2" (click)="cancelarVoo(voo.codigo)"
            [disabled]="voo.status !== 'CONFIRMADO'">
            Cancelar Voo
          </button>
          <button class="btn btn-primary btn-sm" (click)="realizarVoo(voo.codigo)"
            [disabled]="voo.status !== 'CONFIRMADO'">
            Realizar Voo
          </button>

        </td>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="confirmarEmbarqueModal" tabindex="-1" aria-labelledby="confirmarEmbarqueLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmarEmbarqueLabel">Confirmar Embarque</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="codigoReserva" class="form-label">Código da Reserva</label>
            <input type="text" class="form-control" id="codigoReserva" [(ngModel)]="codigoReserva"
              placeholder="Digite o código da reserva" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="confirmarEmbarque()">
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>