<div class="container-md container-fluid" *ngIf="cliente2">
    <p>Saldo atual: {{milhasSaldo}} </p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th scope="col">Data / Hora</th>
                <th scope="col">Descrição</th>
                <th scope="col">Operação</th>
                <th scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let extratoMilha of extratoMilhas; let i = index">
                <td>{{ extratoMilha.dataHora | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ extratoMilha.descricao  }}</td>
                <td>{{ extratoMilha.operacao  }}</td>
                <td>{{ extratoMilha.saldo }}</td>
                
        </tbody>
    </table>
</div>