<div class="container-md container-fluid" *ngIf="cliente">
    <p>Saldo atual: {{milhasSaldo}} </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Data / Hora</th>
                <th scope="col">Operação</th>
                <th scope="col">Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let extratoMilha of extratoMilhas">
                <td>{{ extratoMilha.dataHora | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ extratoMilha.saldo }}</td>
                <td>"{{ extratoMilha.clienteId }}"</td>
                
        </tbody>
    </table>
</div>