<div class="container">
  <h2>Detalhes do Voo</h2>

  <div *ngIf="voo">
    <p><strong>Origem:</strong> {{ voo.origem }}</p>
    <p><strong>Destino:</strong> {{ voo.destino }}</p>
    <p><strong>Data/Hora:</strong> {{ voo.dataHora | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Preço do Assento:</strong> {{ voo.valorPassagem | currency: 'BRL' }}</p>

    <!-- Campo para escolher a quantidade de passagens -->
    <label for="quantidade">Quantidade de Passagens:</label>
    <input type="number" id="quantidade" [(ngModel)]="quantidadePassagens" (change)="onQuantidadePassagensChange()" min="1">

    <p><strong>Valor Total:</strong> {{ valorTotal | currency: 'BRL' }}</p>
    <p><strong>Milhas Necessárias:</strong> {{ milhasNecessarias | number }}</p>

    <!-- Campo para escolher quantas milhas usar -->
    <label for="milhasUsadas">Milhas a Usar:</label>
    <input type="number" id="milhasUsadas" [(ngModel)]="milhasUsadas" (change)="onMilhasUsadasChange()" [max]="maxMilhasUsadas"  [min]="0">
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
  </div>
    <p><strong>Valor Restante a Pagar:</strong> {{ valorRestante | currency: 'BRL' }}</p>
  </div>

  <div *ngIf="saldoMilhas !== null">
    <p><strong>Seu saldo de milhas:</strong> {{ saldoMilhas | number }}</p>
  </div>

  <div *ngIf="!voo || saldoMilhas === null">
    <p>Carregando informações...</p>
  </div>
</div>
