
<div class="container-md container-fluid">

    <h2>Voos e Reservas </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Data / Hora</th>
                <th scope="col">Aeroporto de Origem</th>
                <th scope="col">Aeroporto de Destino</th>
                <th scope="col">Valor gasto</th>
                <th scope="col">Milhas utilizadas</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">XXX0000</th>
                <td>dd/mm/aaaa</td>
                <td>XXX</td>
                <td>YYY</td>
                <td>R$ XXXX,XX</td>
                <td>XXXX pontos</td>
                <td>Reserva cancelada</td>
                <td><a href="#"
                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">

                        <i class="bi bi-eye"></i> Visualizar
                    </a>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <th scope="row">XXX0000</th>
                <td>dd/mm/aaaa</td>
                <td>XXX</td>
                <td>YYY</td>
                <td>R$ XXXX,XX</td>
                <td>XXXX pontos</td>
                <td>Voo realizado</td>
                <td><a href="#"
                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">

                        <i class="bi bi-eye"></i> Visualizar
                    </a>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <th scope="row">XXX0000</th>
                <td>dd/mm/aaaa</td>
                <td>XXX</td>
                <td>YYY</td>
                <td>R$ XXXX,XX</td>
                <td>XXXX pontos</td>
                <td>Voo cancelado</td>
                <td><a href="#"
                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">

                        <i class="bi bi-eye"></i> Visualizar
                    </a>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <th scope="row">XYZ1234</th>
                <td>15/09/2024</td>
                <td>CWB</td>
                <td>GRU</td>
                <td>R$ 1090,50</td>
                <td>3200 pontos</td>
                <td>Aguardando check-in</td>
                <td><a href="#"
                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">

                        <i class="bi bi-eye"></i> Visualizar
                    </a>
                </td>
                <td><a href="#"
                        class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">

                        <i class="bi bi-x-circle"></i> Cancelar
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">XXX0000</th>
                <td>dd/mm/aaaa</td>
                <td>XXX</td>
                <td>YYY</td>
                <td>R$ XXXX,XX</td>
                <td>XXXX pontos</td>
                <td>Reserva efetuada</td>
                <td><a href="#"
                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">

                        <i class="bi bi-eye"></i> Visualizar
                    </a>
                </td>
                <td><a href="#"
                        class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">

                        <i class="bi bi-x-circle"></i> Cancelar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>