<div class="container-md container-fluid" *ngIf="cliente">
  <h2>Bem-vindo, {{ cliente.nome }}</h2>
  <p>Saldo atual de milhas: {{ milhasSaldo }} pontos</p>

  <h2>Voos e Reservas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Código da Reserva</th>
        <th scope="col">Data e Hora</th>
        <th scope="col">Aeroporto de Origem</th>
        <th scope="col">Aeroporto de Destino</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservasFiltradas">
        <th scope="row">{{ reserva.codigo }}</th>
        <td>{{ reserva.voo.dataHora | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ reserva.voo.origem }}</td>
        <td>{{ reserva.voo.destino }}</td>
        <td> <a class="link-primary" (click)="toggleVisualizar(reserva)"><i class="bi bi-eye"></i> Ver
            reserva</a>
        <td *ngIf="expandedReserva === reserva" colspan="5" class="p-3">
          <div>
            <strong>Valor Gasto:</strong> {{ reserva.valorGasto | currency }}<br>
            <strong>Milhas Utilizadas:</strong> {{ reserva.milhasUtilizadas }}<br>
            <strong>Status:</strong> {{ reserva.status }}
          </div>
        </td>
        <td> <a class="link-danger" (click)="cancelarReserva(reserva.codigo)"
            *ngIf="reserva.status !== 'Voo cancelado'"><i class="bi bi-x-circle"></i> Cancelar reserva</a></td>
      </tr>
    </tbody>
  </table>