<div class="container-md my-5 p-4 bg-light rounded shadow-sm" *ngIf="cliente">
  <div class="text-center mb-4">
    <h2>Bem-vindo(a), <span class="fw-bold">{{ cliente.nome }}</span></h2>
    <p class="fs-5">
      Seu saldo atual de milhas é de <strong>{{ milhasSaldo }}</strong> pontos
    </p>
  </div>

  <h3 class="mt-5">Voos e Reservas</h3>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Código da Reserva</th>
        <th scope="col">Data e Hora do Voo</th>
        <th scope="col">Aeroporto de Origem</th>
        <th scope="col">Aeroporto de Destino</th>
        <th scope="col">Cancelar Reserva</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservasComDetalhes">
        <th scope="row">{{ reserva.codigo }}</th>
        <td *ngIf="reserva.voo; else carregando">
          {{ reserva.voo.dataHora | date: 'dd/MM/yyyy HH:mm' }}
        </td>
        <ng-template #carregando>
          <span>Carregando...</span>
        </ng-template>
        <td>{{ reserva.voo?.origem || '---' }}</td>
        <td>{{ reserva.voo?.destino || '---' }}</td>
        <td>
          <a
            class="link-danger text-decoration-none btn btn-link"
            (click)="modalCancelarReserva(reserva)"
            *ngIf="['AGUARDANDO_CHECKIN'].includes(reserva.status)"
          >
            <i class="bi bi-x-circle"></i> Cancelar reserva
          </a>
          
          <a
            class="link-success text-decoration-none btn btn-link"
            *ngIf="!['AGUARDANDO_CHECKIN'].includes(reserva.status)"
          >
            <i class="bi bi-check"></i> {{ reserva.status }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>