.reserva-detalhes {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}