<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cancelar Reserva: {{reserva.codigo}}</h4>
</div>
<div class="modal-body">
    <label for="conf">Tem certeza que deseja cancelar a reserva {{reserva.codigo}}?</label>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-danger" (click)="cancelarReserva(reserva)">Cancelar Reserva</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Retornar</button>
</div>


