<div class="container-md my-5 p-4 bg-light rounded shadow-sm" *ngIf="cliente">

    <h3 class="mt-5">Voos aptos para Check-in</h3>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Código da Reserva</th>
                <th scope="col">Data e Hora do Voo</th>
                <th scope="col">Aeroporto de Origem</th>
                <th scope="col">Aeroporto de Destino</th>
                <th scope="col">Cancelar Reserva</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of reservasComDetalhes">
                <th scope="row">{{ reserva.codigo }}</th>
                <td *ngIf="reserva.voo; else carregando">
                    {{ reserva.voo.dataHora | date: 'dd/MM/yyyy HH:mm' }}
                </td>
                <ng-template #carregando>
                    <span>Carregando...</span>
                </ng-template>
                <td>{{ reserva.voo?.origem || '---' }}</td>
                <td>{{ reserva.voo?.destino || '---' }}</td>
                <td *ngIf="reserva">
                    <a class="link-secondary text-decoration-none btn btn-link" 
                    (click)="modalFazerCheckin(reserva)"
                        *ngIf="['AGUARDANDO_CHECKIN'].includes(reserva.status)">
                        <i class="bi bi-bookmark"></i> Fazer Checkin
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
</div>



